<!-- About-->
<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Wir haben was Sie brauchen!</h2>
        <hr class="divider divider-light"/>
        <p class="text-white-75 mb-4">Die Organisation und Koordination von Arztrechnungen mit privater Krankenkasse und der Beihilfe nimmt viel Zeit in Anspruch. Abile hilft Ihnen dabei alles an einem Ort festzuhalten um so den Überblick nicht zu verlieren. </p>
        <a class="btn btn-light btn-xl" href="#services">Ich möchte mehr Infos sehen!</a>
      </div>
    </div>
  </div>
</section>
