<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
    <h2 class="mb-4">Registriere dich jetzt kostenlos!</h2>
    <%= link_to 'Jetzt registrieren', new_user_registration_path, class: 'btn btn-light btn-xl' %>
  </div>
</section>
