.dashboard_container {
  .dashboard_infobox {
    flex: 1 1 0px;

    a {
      text-decoration: none;
    }

    .value {
      display: block;
      text-align: right;
    }

    .number {
      display: block;
      font-size: 1.5em;
    }

    .description {
      color: $black-75;
      display: block;
    }
  }

  &__green {
    border-left: 3px solid $green;
    //background: lighten($green, 40%);
    &:hover {
      background: lighten($green, 40%);
    }
  }

  &__red {
    border-left: 3px solid $red;
    //background: lighten($red, 40%);
    &:hover {
      background: lighten($red, 40%);
    }
  }

  &__blue {
    border-left: 3px solid $blue;
    //background: lighten($blue, 40%);
    &:hover {
      background: lighten($blue, 40%);
    }
  }
}
