.dashboard_container {
  display: flex;
  flex-wrap: wrap;

  .dashboard_infobox {
    a {text-decoration: none;}

    flex-basis: 200px;
    flex-grow: 1;
    max-width: 250px;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    position: relative;
    height: 100px;
    .value {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }

    .number {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-size: 2em;
    }
    .description {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

  .green {
    border: 3px solid $green !important;
  }

  .red {
    border: 3px solid $red !important;
  }

  .blue {
    border: 3px solid $blue !important;
  }
}
