.check_icon_checked {
  margin: 1em;
  color: $green;
}

.check_icon_unchecked {
  margin: 1em;
  color: $red;
}

.check_text {
  font-size: 0.7em;
  border-bottom: 1px solid #ccc;
  padding: 3px;
}

.right {
  float: right;
}

.add_button {
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;

  i {
    margin-right: 10px;
  }

  &:hover {
    text-decoration: none;
  }
}

.form_container {
  max-width: 600px;
  margin: auto;
  padding: 2em;
  border: 2px solid $primary;
  border-radius: 0px;
  background-color: white;
  margin-top: 3rem;
  label {
    font-weight: 600;
  }

  h2 {
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 2rem;
}
