.people_container {
  display: flex;
  align-items: stetch;
  flex-wrap: wrap;

  .spacer {
    width: 260px;
    height: 2px;
    margin: 1em;
    flex-basis: 260px;
    flex-grow: 1;
  }

  .person_box {
    width: 260px;
    flex-basis: 260px;
    flex-grow: 1;
    height: 280px;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 10px;

    .green {
      border-color: #1abc9c;
    }
    .blue {
      border-color: #3498db;
    }
    .red {
      border-color: #e74c3c;
    }

    .name {
      font-size: 1.5em;
    }
    .ratio {
    }

    .actions {
    }

    .color {
    }
  }
  .new_person {
    padding-top: 60px;
    a {
      text-decoration: none;
    }
    i {
      font-size: 6em;
      opacity: 0.5;
    }
    p {

      font-size: 1.2em;
    }
  }
}

.purr {
  position: fixed;
  top: 70px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #fcc;
  border: solid 2px #c66;
  &:first-letter {
    text-transform: uppercase;
  }
}
