<div class="operations_container">
  <%= render operations %>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>

<%= will_paginate operations,
                  renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
                  list_classes: %w(pagination justify-content-center) %>
