<div class="operations_container" id="operations_container">
  <%= render "operations/new" %>
  <%= render @operations %>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>
