<h1>Vorgänge</h1>


<%= form_tag operations_path, class: "", remote: true,  method: :get  do %>
<div class="filter_inputs">
  <div>
    <%= select_tag "view", options_for_select(["Boxen","Tabelle"], params[:view]),  class: "ajax-input input_animated" ,onchange: "this.form.submit()" %>
  </div>
</div>
<% end %>
<% if params[:view] == "Tabelle" %>
  <%= render "operations/table" %>
<% else %>
  <%= render "operations/container" %>
<% end %>

<hr>

<br>
