$('#operations_container').html("<%= j render 'operations/new' %><%= j render @operations %>");
$('#operations_container').append("<div class='placeholder'></div>");
$('#operations_container').append("<div class='placeholder'></div>");
$('#operations_container').append("<div class='placeholder'></div>");
